@model List<Persona>

@{
    ViewData["Title"] = "SessionLista";
}

<h1>SessionLista</h1>
<ul class="list-group-horizontal">
    <li class="list-inline-item">
        <a asp-action="SessionLista" asp-controller="Home" asp-route-accion="almacenar" class="btn btn-primary">Guardar Datos</a>
        <a asp-action="SessionLista" asp-controller="Home" asp-route-accion="mostrar" class="btn btn-secondary">Mostrar Datos</a>
    </li>
</ul>
<h2>@ViewBag.Mensaje</h2>
@if (Model != null)
{

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Edad
                </th>
                <th>
                    Hora
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
