@model IEnumerable<MvcCorePaco.Models.Empleado>

@{
    ViewData["Title"] = "AlmacenarEmpleados";
    List<int> sessionemp = Context.Session.GetObject<List<int>>("EMPLEADOS") as List<int>;
}

<h1>AlmacenarEmpleados</h1>

<p>
    <a asp-action="MostrarEmpleados" asp-controller="EmpleadosSession" class="btn btn-dark m-1">Mostrar datos Session</a>

</p>
<h2 class="text-success">@ViewBag.mensaje </h2>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oficio)
                </td>
                <td>
                    @*VERSION PARA AÑADIR SOLO 1
            @if (sessionemp == null)
        {
            //Pintamos almacenar
            <a asp-controller="EmpleadosSession" asp-action="AlmacenarEmpleados"
               asp-route-idempleado="@item.IdEmpleado" class="btn btn-primary m-1">Almacenar</a>
        }
        else if (!sessionemp.Contains(item.IdEmpleado))
        {
            //Pintamos almacenar
            <a asp-controller="EmpleadosSession" asp-action="AlmacenarEmpleados"
             asp-route-idempleado="@item.IdEmpleado" class="btn btn-primary m-1">Almacenar</a>
        }
        else
        {
            //La session existe
        }*@
                    @if (sessionemp == null)
                    {
                        //Pintamos almacenar
                        <a asp-controller="EmpleadosSession" asp-action="AlmacenarEmpleados"
                           asp-route-idempleado="@item.IdEmpleado" class="btn btn-primary m-1">Almacenar</a>
                    }
                    else if (!sessionemp.Contains(item.IdEmpleado))
                    {
                        //Pintamos almacenar
                        <a asp-controller="EmpleadosSession" asp-action="AlmacenarEmpleados"
                           asp-route-idempleado="@item.IdEmpleado" class="btn btn-primary m-1">Almacenar</a>
                    }
                    else
                    {
                        //La session existe
                        <a asp-controller="EmpleadosSession" asp-action="AlmacenarEmpleados"
                           asp-route-idempleado="@item.IdEmpleado" class="btn btn-primary m-1"
                           onclick="return confirm('Este empleado ya está almacenado, seguro que quieres volver a almacenarlo?')">Almacenar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
