@model IEnumerable<MvcCorePaco.Models.Empleado>

@{
    ViewData["Title"] = "Pedidos";
    List<int> cantidades = ViewBag.cantidades as List<int>;
    int contador = 0;
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td class="text-danger">
                @cantidades[contador]
            </td>
            @{contador++;}
        </tr>
        }
    </tbody>
</table>
