@model IEnumerable<MvcCorePaco.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidad)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { iddepart=item.IdDepartamento }, new {@class="btn btn-info" }) |
                    @Html.ActionLink("Editar", "Edit", new {iddepart=item.IdDepartamento}, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { iddepart=item.IdDepartamento }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
